*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
db.sqlite3
media/
.env
local_settings.py